@-moz-document url-prefix("https://rc3.world/rc3/public_fahrplan"), url-prefix("https://rc3.world/rc3/public_fahrplan/") {
* {
    scrollbar-width: inherit;
    scrollbar-color: inherit;
}

body {
    overflow-x: scroll;
}

body, .font-sans-serif, h2, h1, h3, .font-headings {
    font-family: sans-serif;
    font-weight: normal;
    text-transform: none;
}

h2.rc3-fahrplan__event_title {
    text-transform: none;
}

figure p.font-weight-bold {
    font-weight: normal !important;
}

div.rc3-fahrplan {
    overflow-x: visible;
    width: calc(16*15rem);
}

div.rc3-fahrplan__timeline {
    padding-left: 1em;
}

a.rc3-fahrplan__link figure {
    overflow-y: hidden;
}

h2.rc3-fahrplan__title {
    position: sticky;
    top: 0;
    z-index: 20;
}
}
